.header {
  padding-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(255, 174, 0);
  border-bottom: 4px solid #5a5a5a;
}

.header-logo {
  font-size: 32px;
  font-weight: 700;
  padding: 20px;
  color: azure;
}

.header-seach {
  height: 36px;
  width: 240px;
  border: 2px solid #1a191f;
  border-color: pink;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}
