{{#each this}}
<li class="movie">
    <!-- <a class="movie-card-inner"> -->
    <a class="movie-link" href="">
        {{!-- <div class="overlay">
            {{#each genres}}
            <p class="movie-category">{{genre}}</p>
            {{/each}} --}}
        
            <div class="movie-darkened">
                <picture>
                    <img class="movie-image"
                        src="https://image.tmdb.org/t/p/w500{{poster_path}}"
                        alt="">
                </picture>
        {{!-- </div> --}}
            <div class="movie-info">
                <p class="movie-title">{{original_title}}</p>
                <div class="movie-average">{{vote_average}}</div>
            </div>
        </div>
    </a>
    <!-- </a> -->
</li>
{{/each}}