<div class="container">
    <div class="movies">
        <div class="movie">
            <div class="movie-cover-inner">
                <img class="movie-image"
                    src="https://img07.rl0.ru/afisha/e460x690q85i/s1.afisha.ru/mediastorage/ba/b5/a94eca22015f4cc193d4f262b5ba.jpg"
                    alt="">
                <div class="movie-image--darkened"></div>
                <p class="movie-info"></p>
                <p class="movie-title">mortal</p>
                <p class="movie-category">boevic</p>
                <div class="movie-average movie-average--green">9</div>
            </div>
        </div>
    </div>
</div>